
<div class="facts">
  <div class="container">
    <div class="facts__envelope"><a href="#">Цікаві Факти</a><img src="../img/facts_click.png" alt="click" class="animated infinite pulse"/></div>
    <div class="run-string__content"><span>В Іспанії одним з найпопулярніших напоїв на сніданок є шоколадне молоко.</span><span>За статистикою найбільша кількість молока випивається в Фінляндії.</span><span>У середньому в коров’ячому вимені міститься 15 літрів молока.</span><span>За допомогою молока можна легко вивести свіжу чорнильну пляму.</span><span>Потрібно приблизно 10 літрів молока, щоб зробити 1 кг сиру.</span><span>У 1964 році молоко вперше почали упаковувати в пакети.</span></div>
  </div>
</div>