
<div class="page-moloko">
  <h2 class="page-moloko__heading">Молоко</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-xs-12">
        <div class="page-moloko__video">
          <iframe src="https://www.youtube.com/embed/ecrdsx4xuiY" allowfullscreen="allowfullscreen"></iframe>
          <p>Відео ролик по виробництву молока на МТФ Компанії</p>
        </div>
      </div>
      <div class="col-lg-5 col-xs-12">
        <div class="page-moloko__text">
          <h4>Якісні характеристики молочної продукції Кернел</h4>
          <p>…по якісним показникам молочно – товарним фермам вдається втримувати співвідношення  співвідношення 40% - найвищої якості (екстра ґатунок) та 60% – вищий ґатунок…</p>
          <p>Тваринництво в Кернел бере початок разом із розвитком  аграрного бізнесу (сільськогосподарського виробництва) в Компанії. Земельний банк зростав, разом з цим було приєднано ряд молочних ферм. Вже зараз Компанія входить в п’ятірку  лідерів за кількістю поголів'я і по валу молока в країні.</p>
          <p>…по якісним показникам молочно – товарним фермам вдається втримувати співвідношення  співвідношення 40% - найвищої якості (екстра ґатунок) та 60% – вищий ґатунок…</p>
        </div>
      </div>
    </div>
  </div>
</div>