
<div class="page-neteli">
  <h2 class="page-neteli__heading">Нетелі</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-xs-12">
        <div class="page-neteli__video">
          <iframe src="https://www.youtube.com/embed/ecrdsx4xuiY" allowfullscreen="allowfullscreen"></iframe>
          <p>Відео ролик по виробництву молока на МТФ Компанії</p>
        </div>
      </div>
      <div class="col-lg-5 col-xs-12">
        <div class="page-neteli__text">
          <h4>З моменту народження і до плідного осіменіння теля жіночого роду іменується телиця. Після плідного запліднення і до растела - нетель, а після народження теляти - первістки, або корова.</h4>
          <p>Для отримання високопродуктивної корови необхідно проводити ряд ветеринарно-зоотехнічних заходів, пов'язаних з доглядом за твариною, цілеспрямованим вирощуванням, системою профілактичних щеплень та своєчасним заплідненням згідно з планом племінної роботи для даної породи або прийнятому в даній місцевості.  Головна увага при селекції та вирощуванні приділяють розвитку вимені.</p>
          <p>На розвиток молочної залози позитивний вплив робить масаж вимені у телиць і нетелів.поголів'я і по валу молока в країні.</p>
        </div>
      </div>
    </div>
  </div>
</div>