
<div class="ourMission fixed-menu">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="ourMission__content">
          <h2 class="ourMission__heading">Місія Нашої Діяльності</h2>
          <p class="ourMission__subText">Цілі, завдання та основні принципи</p>
          <p class="ourMission__info">Місія - виробництво молока європейської якості для підтримки здорової української нації. Наші цілі:</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="goals">
          <p class="caption">Структура</p><span>формування чіткої структури</span><span>управління напрямку</span><span>тваринництва Дивізіону</span><span>Агробізнес</span>
          <div class="circle"><span>1</span></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="goals">
          <p class="caption">Контроль</p><span>поліпшення контролю діяльності</span><span>молочно-товарних ферм</span><span>компанії Кернел</span>
          <div class="circle"><span>2</span></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="goals">
          <p class="caption">Прибутковість</p><span>підвищення прибутковості</span><span>молочного бізнесу компанії</span>
          <div class="circle"><span>3</span></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="goals">
          <p class="caption">Диверсифікація</p><span>диверсифікація бази</span><span>отримання прибутків в</span><span>твариннитві</span>
          <div class="circle"><span>4</span></div>
        </div>
      </div>
      <div class="tasks"><span class="tasks_title">Завдання:</span>
        <ul>
          <li>уніфікація всіх виробницих процесів на всіх мтф компанії;</li>
          <li>оптримання молока вищого та екстра гатунку на всіх фермах, шляхом автоматизації процесів та дотримання технології доїння;</li>
          <li>ведення селекційної роботи для підвищення генетичної цінності маточного поголів'я, продуктивності та для реалізації племінного молодняка;</li>
          <li>впровадження технології компостування гною, та створення ринку компосту;</li>
          <li>відпрацювання технології відгодівлі бичків, як додаткового джерела прибутковості бізнесу.</li>
        </ul>
      </div>
    </div>
  </div>
</div>